---
import Page from "../layouts/Page.astro";
import { useI18n, useFormat, currentLocale } from "astro-nanostores-i18n:runtime";
import { count, params } from "@nanostores/i18n";

currentLocale.set("zh-CN");

const messages = useI18n("example", {
  message: "Irgend eine Nachricht.",
  param: params("Eine Nachricht mit einem Parameter: {irgendwas}"),
  count: count({
    one: "Ein Eintrag",
    many: "{count} Einträge",
  }),
});

const format = useFormat();
---

<Page>
  <h1>astro-nanostores-i18n</h1>
  <p>{messages.message}</p>
  <p>{messages.param({ irgendwas: "Something" })}</p>
  <p>{format.time(new Date())}</p>
</Page>
