---
import Page from "../layouts/Page.astro";
---

<Page>
  <h1>astro-i18n examples</h1>
  <p>Examples:</p>
  <ul>
    <li>
      <a href="/astro-loader-i18n">astro-loader-i18n</a>
    </li>
    <li>
      <a href="/astro-nanostores-i18n">astro-nanostores-i18n</a>
    </li>
  </ul>
</Page>
